{% extends 'layout.html' %}

{% block body %}
<form method="post" action="{{ url_for('decrypt_result') }}">
    <fieldset class="form-group">
        <label for="message">Encrypted Message:</label>
        <input class="form-control" type="text" id="message" name="message" required>
    </fieldset>
    <fieldset class="form-group">
        <label for="passphrase">Passphrase:</label>
        <input class="form-control" type="text" id="passphrase" name="passphrase" required>
    </fieldset>
    <button type="submit" class="btn btn-primary pull-xs-right">Submit</button>
</form>
{% endblock %}